button{
    width:70px;
    height:70px;
    border-radius:50%;
    border:none;
    font-size:28px;
    cursor:pointer;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.equal{
    background: #9c7ae6;
    color: white;
}